*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100vh;
}
div{
    background-color: #b1060f;
    height: 250px;
    width: 60px;
    position: fixed;
}
span{
    position: absolute;
    height: 250px;
    width: 60px;
    background-color: #e40812;
    left: 46px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px;
}
div::before{
    background-color: #b1060f;
    height: 250px;
    width: 60px;
    position: absolute;
    content: '';
    left: 90px;
}
div::after{
    background-color: #000;
    height: 20px;
    width: 175px;
    position: absolute;
    content: '';
    left: -15px;
    bottom: -10px;
    border-radius: 50%;
}
@media (max-width:800px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        height: 100vh;
        width: 100vh;}
    }
@media (max-width:600px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        height: 100vh;
        width: 75vh;}
    }
@media (max-width:430px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        height: 100vh;
        width: 55vh;}
        }
@media (max-width:375px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        height: 100vh;
        width: 45vh;}
        }
@media (max-width:320px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        height: 100vh;
        width: 38vh;}
        }